* {
    font-family: sans-serif;
}
body {
    background: rgb(0, 35, 133);
}

.container {
    margin: auto;
    padding: 20px;
    padding-top: 60px;
}
.isi {
    background-color: rgba(255, 255, 255, 0.726);            
    width: 1200px;
    height: 720px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    animation: animasiopacity 2s;
}

.gambar {
    position: absolute;
    top: 200px;
    width: 400px;
    height: 270px;
}

.judul {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px 10px;
    background: rgb(7, 73, 255);
    color: rgb(255, 255, 255);
    font-size: 23px;
    border-radius: 10px;
}

.materi {
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 470px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: animasiopacity 2s ease;
}

@keyframes animasiopacity {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes animasizoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animasigerak {
    0% {
        left: 50px;
        top: 30px;
    }
    100% {
        left: 50px;
        top: 400px;
    }
}
@keyframes animasigerak2 {
    0% {
        right: 30px;
        bottom: 20px;
    }
    100% {
        right: 30px;
        bottom: 400px;
    }
}
@keyframes animasirocket {
    0% {
        bottom: 20px;
        left: 50px;
    }
    100% {
        left: 50px;
        bottom: 400px;
    }
}
.bawah2 a {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 15px;
    padding: 7px 15px;
    background: rgb(7, 73, 255);
    color: white;
    border-radius: 30px;
    transition: .4s;
    animation: animasizoom 1.5s ease;
    margin: auto;
    text-decoration: none;
}

.mulai2:hover {
    transform: scale(1.1);
}

.aa {
    position: absolute;
    z-index: -9999;
    left: 100px;
    bottom: 400px;
    width: 70px;
    height: 55px;
    animation: animasigerak 10s ease-in-out infinite alternate;
}
.cc {
    position: absolute;
    z-index: -9999;
    right: 100px;
    bottom: 400px;
    width: 70px;
    height: 55px;
    animation: animasigerak2 30s ease-in-out infinite alternate;
}
.dd {
    position: absolute;
    z-index: -9999;
    bottom: 20px;
    left: 850px;
    width: 60px;
    height: 55px;
    animation: animasirocket 5s ease-out infinite alternate;
}

.socmed {
    position: absolute;
    bottom: 20px;
    left: 550px;
    display: flex;
}

.yt,
.fb,
.ig {
    width: 40px;
    height: 40px;
}